/* FONT FAMILIES */

@font-face {
    font-family: 'Hapna';
    src: url('../Hapna-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RDRLino';
    src: url('../RDRLino-Regular.ttf') format('truetype');
}