@font-face {
	font-family: "Chinese Rocks";
	src: url('CHINESER.TTF');
}

body {
    margin: 0;
    overflow: hidden;
    background: transparent;
}

#nameplates {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

.nameplate {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Chinese Rocks', serif;
    font-size: 26px;
    color: white;
    white-space: pre-line;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    line-height: 1;

    pointer-events: none;

    text-shadow:
        -1px -1px 0 #00000080,
         1px -1px 0 #00000080,
        -1px  1px 0 #00000080,
         1px  1px 0 #00000080;
}

.name-line {
    position: relative;
    z-index: 1;
}

.typing-indicator {
    position: absolute;
    left: 50%;
    top: -1.1em;
    transform: translateX(-50%);
    z-index: 2;
    line-height: 1;
}
